.tippy-content {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tippy-content {
  hr {
    border: none;
    border-top: 1px solid #ebebeb;
  }
  .tooltip-attributes {
    color: rgb(100, 100, 100);
  }
}
