$body-background-color: #000000;

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(0,0,0);
  background-image: radial-gradient(circle, #0f022a, #17001e, #170013, #100007, #000000);
  // background: radial-gradient(circle, rgba(13,5,43,1) 0%, rgba(0,0,0,1) 100%);
  // background: radial-gradient(circle, #020421 0%, #000000 100%);
}

#graph-container {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 10px;
}
